<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Locations with Bird Images</title>
</head>
<body>
    <div class="topnav">
  <a class="active" href="/locations">All Locations</a>
  <a href="/locations/new">Add Location</a>
</div>
<h1>Birdy Spy</h1>
<section id="show-page">
    <h3>Birds Seen In Location</h3>
    <table>
        <thead>
            <tr>
            <th>Location</th>
            <th>State</th>
            <th>City</th>
            
            </tr>
        </thead>
        <tbody>
            <tr>
    <td><%= location.name %></td>
    <td><%= location.state %></td>
    <td><%= location.city %></td>
   </tr>
   </tbody>
   </table>
</section>
</body>
</html>