<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div class="topnav">
        <a class="active" href="/locations">All Locations</a>
        <a href="/locations/new">Add Location</a>
    </div>


  </body>
</html>

