<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div class="topnav">
        <a class="active" href="/locations">All Locations</a>
        <a href="/locations/new">Add Location</a>
    </div>


  </body>
</html> -->

<html>
  <head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
  </head>
  <body>
    <p>Image Upload</p>
      <form method="post" action="upload/post" enctype="multipart/form-data">
        <input type="file" name="image" /><br /><br />
        <button type="submit" name="upload">Upload</button>
      </form>
  </body>
</html>

