.topnav a {
  display: grid;
  justify-content: end;
  color: black;
  text-size-adjust: 30px;

}
.index-ejs {
  background-image: url('https://i.imgur.com/QQDpL2q.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}


h1 {
  font-family: 'Shippori Mincho', cursive, Arial;
  color: #053B24;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

h3 {
  text-align: center;
  color: #3C584C;
  font-size: 30px;
}

#list {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  font-weight: bolder;
  color: black;
  border-collapse: separate;
  background-color: whitesmoke;
  opacity: 60%;
} 
#location {
  padding-right: 90px;
  padding-left: 60px;
  
}

#city {
  padding-left: 55px;
  padding-right: 55px;
}

#state {
  padding-left: 10px;
  padding-right: 95px;
}


#list-of-location {
  display: grid;
}

a {
  color: #C46F04;
}

h2 {
  color: rgb(0, 148, 200);

}

#new-form {
  color: #053B24;
  
}

#add-bird-image {
  color: #6B2207;
  display: grid;
  justify-items: center;
}

.show-ejs {
  background-image: url('https://i.imgur.com/2ErLFii.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Shippori Mincho', cursive, Arial;
  color: #D18025;
  display: flex;
  flex-direction: column;
}




#show-page {
  text-align: center;
  color: #7E2504;
  display: grid;
  justify-items: normal;
  justify-content: space-evenly;
  border-spacing: 15px;
}


.bird-image {
  height: 20%;
  width: 20%;
}

#bird-images-listing {
  display: flex;
  flex-flow: column wrap;
  margin-left: 70px;
  align-content: space-around;
  align-items: center;
  padding-right: 5%;
}

.bird-author {
  height: 5%;
  width: 5%;
}


.new-location {
  background-image: url('https://i.imgur.com/QQDpL2q.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Shippori Mincho', cursive, Arial;
  color: #053B24;
}

#new-form {
  display: grid;
  justify-content: space-around;
  
}

h2 {
  font-family: 'Shippori Mincho', cursive, Arial;
  color: #053B24;
  text-align: center;
}


/* .brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
} */